/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

/* Utility */

.flex{
    display: flex;
}

.bg-grey{
    background-color: #4a4a4a;
}

.bg-padding{
    padding: 5px;
    border-radius: 5px;
}

.text-white{
    color: #fff;
}

.text-red{
    color: red;
}

.text-green{
    color: #4bc800;
}

.text-center{
    text-align: center;
}

.margin-element{
    margin-top: 5px;
}

/* Start Header */

header{
    height: 80px;
}

header nav{
    justify-content: flex-end;
    padding: 5px;
}

header nav .speaker-view{
    margin-right: 15px;
}

/* Start Main */

main .gallery{
    height: 700px;
    overflow: auto;
    padding: 10px;
}

main .row{
    padding: 10px 0;
    height: 200px;
    flex-wrap: wrap;
}

.col{
    margin: 0 10px;
    flex-grow: 1;
    background-image: url('https://picsum.photos/id/1005/300/200');
    background-size: cover;
}

/* Start Footer */

footer .footer-bar{
    height: 120px;
    justify-content: space-between;
    background-color: #222222;
}

footer .footer-bar .col-footer{
    justify-content: center;
    align-items: center;
}

footer .footer-bar .col-footer .element{
    padding: 0 10px;
}

footer .footer-bar .col-footer:last-child{
    justify-content: flex-end;
    align-items: center;
}

footer .footer-bar .col-footer .end-meeting{
    background-color: #4a4a4a;
    padding: 45px 30px;
    font-size: 20px;
}

